@model RegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<form method="post">
    <div class="container">
        <br />
        <label>Adınız</label>
        <input type="text" class="form-control" asp-for="Name" />
        <br />
        <label>Soyadınız</label>
        <input type="text" class="form-control" asp-for="SurName" />
        <br />
        <label>Kullanıcı Adınız</label>
        <input type="text" class="form-control" asp-for="UserName" />
        <br />
        <label>EMail Adresiniz</label>
        <input type="text" class="form-control" asp-for="Email" />
        <br />
        <label>Şifreniz</label>
        <input type="passrword" class="form-control" asp-for="Passrword" />
        <br />
        <label>Şifre Tekrar</label>
        <input type="password" class="form-control" asp-for="ConfimPassrword" />
        <br />
        <button class="btn btn-primary">Kayıt  Ol</button>
    </div>
</form>