@model Pizzapan.EntityLayer.Concrete.Category
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>kategori güncelleme</h1>

<form method="post">
    <input type ="hidden" asp-for="CategoryID" style="background-color:gray"/>
<br/>
<button class="btn btn-info">güncelle</button>
</form>


